<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bendelivery.mapper.OrderMapper">
	<insert id="order" parameterType="OrderVO">
		insert into order_table (res_no, member_id, order_address, order_detail_address, order_phone, order_request, payment)
		values (#{res_no}, #{member_id}, #{order_address}, #{order_detail_address}, #{order_phone}, #{order_request}, #{payment})
		<selectKey resultType="Integer" keyProperty="order_no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<select id="list" resultType="OrderVO">
		select * from order_table where member_id = #{member_id} order by order_no desc
	</select>
</mapper>