<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bendelivery.mapper.OrderMapper">
	<insert id="order" parameterType="OrderVO">
		insert into order_table (res_no, member_id, order_address, order_detail_address, order_phone, order_request, payment)
		values (#{res_no}, #{member_id}, #{order_address}, #{order_detail_address}, #{order_phone}, #{order_request}, #{payment})
		<selectKey resultType="Integer" keyProperty="order_no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 회원의 주문 목록 -->
	<select id="list" resultType="OrderVO">
		select * from order_table where member_id = #{member_id} order by order_no desc
	</select>
	
	<select id="getOrder" resultType="OrderVO">
		select * from order_table where order_no = #{order_no}
	</select>
	<!-- Owner 페이지에서 주문 확인하기 위한 list  -->
	<select id="listByRes" resultType="OrderVO">
		select * from order_table where res_no = #{res_no} order by order_no desc
	</select>
	<!-- Owner 페이지에서 주문 확인하기 위한 list + status  -->
	<select id="listByResandStatus" resultType="OrderVO">
		select * from order_table where res_no = #{res_no} and order_status = #{order_status} order by order_no desc
	</select>
	<!-- 해당 주문에 대한 리뷰 작성시 status 변경 none -> exist  -->
	<update id="updateForReview">
		update order_table set review_status = 'exist' where order_no = #{order_no}
	</update>
	<!-- 조리 중으로 업데이트  -->
	<update id="updateIng">
		update order_table set order_status = 'ing', confirm_time = now() where order_no = #{order_no}
	</update>
	<!-- 조리 완료 없데이트  -->
	<update id="updateDone">
		update order_table set order_status = 'done', confirm_time = now() where order_no = #{order_no}
	</update> 
</mapper>