<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bendelivery.mapper.OwnerMapper">
	<!-- <insert id="register">
		insert into res_table (res_name, res_owner, category, res_phone, owner_number, res_postcode, res_address, res_detail_address, res_extra_address, startTime, endTime)
		values (#{res_name}, #{res_owner}, #{category}, #{res_phone}, #{owner_number}, #{res_postcode}, #{res_address}, #{res_detail_address}, #{res_extra_address}, #{startTime}, #{endTime})
	</insert>-->
	<insert id="join"><!-- 입점 신청 시 사업자 정보 등록  -->
		insert into owner_table (owner_name, owner_phone, owner_number)
		values (#{owner_name}, #{owner_phone}, #{owner_number})
	</insert>
	<select id="getNo" resultType="int"><!-- 사업자 등록 번호로 해당 DB 번호 가져오기 -->
		select owner_no from owner_table where owner_number = #{owner_number}
	</select>
	<select id="check_owner" resultType="int"><!-- 입점 신청 했는지 확인 -->
		select count(*) from owner_table where owner_number = #{owner_number} and owner_phone = #{owner_phone}
	</select>
	<select id="check_id" resultType="int"><!-- 회원가입 했는지 확인 -->
		select count(owner_id) from owner_table where owner_number = #{owner_number} and owner_phone = #{owner_phone}
	</select>
	<update id="registerOwner"><!-- id & pw 등록  -->
		update owner_table set owner_id = #{owner_id}, owner_pw = #{owner_pw} where owner_no = #{owner_no}
	</update>
	<select id="read" resultType="OwnerVO"><!-- owner 데이터 하나 가져오기  -->
		select * from owner_table where owner_no = #{owner_no}
	</select>
	
</mapper>