<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bendelivery.mapper.RestaurantOperationMapper">
	<insert id="create">
		insert into res_operation_table (res_no, start_time, end_time, minimum_price)
		values (#{res_no}, #{start_time}, #{end_time}, #{minimum_price})
	</insert>
	<update id="updateOperationInfo">
		update res_operation_table 
		set start_time = #{start_time}, end_time = #{end_time}, minimum_price = #{minimum_price} 
		where res_no = #{res_no}
	</update>
	<select id="getByRes" resultType="ResOperationVO">
		select * from res_operation_table where res_no = #{res_no} 
	</select>
</mapper>