<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bendelivery.mapper.RestaurantMapper">
	<!-- <insert id="register">
		insert into res_table (res_name, res_owner, category, res_phone, owner_number, res_postcode, res_address, res_detail_address, res_extra_address, startTime, endTime)
		values (#{res_name}, #{res_owner}, #{category}, #{res_phone}, #{owner_number}, #{res_postcode}, #{res_address}, #{res_detail_address}, #{res_extra_address}, #{startTime}, #{endTime})
	</insert>-->
	<insert id="register">
		insert into restaurant_table (res_name, res_tel, category, res_postcode, res_address, res_detailAddress, res_extraAddress , owner_no)
		values (#{res_name}, #{res_tel}, #{category}, #{res_postcode}, #{res_address}, #{res_detailAddress}, #{res_extraAddress}, #{owner_no})
	</insert>
	<select id="resList" resultType="RestaurantVO">
		select res_no, res_name, res_regdate, category, permission, permit_date, res_thumbnail
		from restaurant_table
		where res_no > 0 
		order by res_no desc, res_regdate desc
	</select>
	<select id="listByCategory" resultType="RestaurantVO">
		select res_no, res_name, res_regdate, category, permission, permit_date, res_thumbnail
		from restaurant_table
		where category = #{category}
		order by res_no desc, res_regdate desc
	</select>
	<!-- 페이징 처리하기 위함 -->
	<select id="listCri" resultType="RestaurantVO">
		select *
		from restaurant_table
		order by res_no desc, res_regdate desc
		limit #{pageStart}, ${perPageNum}
	</select>
	<!--  카테고리별 list Paging -->
	<select id="listCriByCategory" resultType="RestaurantVO">
		select *
		from restaurant_table
		where category = #{category}
		order by res_no desc, res_regdate desc
		limit #{pageStart}, ${perPageNum}
	</select>
	<select id="read" resultType="RestaurantVO">
		select * from restaurant_table where res_no  = #{res_no}
	</select>
	<!-- 사장 번호로 읽어오기 -->
	<select id="readByOwner" resultType="RestaurantVO">
		select * from restaurant_table where owner_no  = #{owner_no}
	</select>
	<!-- admin 페이지에서 식당 입점 허가 -->
	<update id="permission">
		update restaurant_table set permission= "OK", permit_date = now(), permit_admin = #{permit_admin} where res_no = #{res_no}
	</update>
	<!-- 사장님 회원가입 시 해당 사장님 owner_no를 통해 식당 입점 허가 정보 가져옴 -->
	<select id="getPermitInfo" resultType="String">
		select permission from restaurant_table where owner_no  = #{owner_no}
	</select>
	<!-- 가게 정보 수정 -->
	<update id="updateResInfo">
		update restaurant_table set res_thumbnail = #{res_thumbnail}, res_tel = #{res_tel}, res_intro = #{res_intro} where res_no = #{res_no}
	</update>
	<select id="countPaging" resultType="int">
		select count(res_no) from restaurant_table 
	</select>
</mapper>