<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bendelivery.mapper.ReviewMapper">
	<!-- review 추가  -->
	<insert id="create">
		insert into review_table (star, review_content, member_no, order_no, res_no, res_name, member_nickname , review_img)
		values (#{star}, #{review_content},#{member_no},#{order_no},#{res_no}, #{res_name}, #{member_nickname}, #{review_img})
	</insert>
	
	<!--  리뷰 삭제 -->
	<delete id="delete">
		delete from review_table where review_no = #{review_no}
	</delete>
	<!-- 리뷰 리스트 by 멤버 -->
	<select id="listByMember" resultType="ReviewVO">
		select * from review_table where member_no = #{member_no} order by reg_date desc
	</select>
	<!-- 리뷰 리스트 by 식당 -->
	<select id="listByRes" resultType="ReviewVO">
		select * from review_table where res_no = #{res_no} order by reg_date desc
	</select>
	<update id="updateStatus">
		update review_table set reply_status = 'exist' where review_no = #{review_no}
	</update>
	<!-- 리뷰 수정하기 위해 review_no를 통해 review 가져옴 -->
	<select id="getReview" resultType="ReviewVO">
		select * from review_table where review_no = #{review_no}
	</select>
	<!-- 리뷰 수정  -->
	<update id="updateReview">
		update review_table
		set review_content = #{review_content}, star = #{star}, review_img = #{review_img}, modify_date = now()
		where review_no = #{review_no}
	</update>
</mapper>